In [1]:
import pandas as pd
import numpy as np

In [2]:
print('hello world')

hello world

In [3]:
1

1

In [4]:
2.0

2.0

In [5]:
1+2

3

In [6]:
2*8

16

In [7]:
100-25

75

In [8]:
50/2

25.0

In [9]:
2**4

16

In [10]:
4**5

1024

In [11]:
5+5 *5+6

36

In [12]:
(5+6)*2

22

In [13]:
4%2

0

In [14]:
var=2
var

2

In [15]:
x=10
y=25

In [16]:
x

10

In [17]:
y

25

In [18]:
x+y

35

In [19]:
x=x+x

In [20]:
x

20

In [21]:
&var=2

SyntaxError: invalid syntax (<ipython-input-21-515700441f5d>, line 1)

In [ ]:
variable-name=2

In [ ]:
variabl_name=3

In [ ]:
variabl_name

In [ ]:
#string

In [ ]:
'Welcome to python'

In [ ]:
"Welcome to python"

In [ ]:
'''Welcome to python'''

In [22]:
x='hello'
y='world'
print(x)
print(y)
print(x+y)

hello
world
helloworld

In [23]:
a=100
b=500
c=a+b
c

600

In [24]:
#List
x=["Banana","Apple","Cherry"]
x

['Banana', 'Apple', 'Cherry']

In [25]:
x.append('Orange')
x

['Banana', 'Apple', 'Cherry', 'Orange']

In [27]:
x.append('Mango')
x

['Banana', 'Apple', 'Cherry', 'Orange', 'Mango']

In [29]:
x.insert(1,'Tomotto')
x

['Banana', 'Tomotto', 'Apple', 'Cherry', 'Orange', 'Mango']

In [30]:
x.insert(3,'Tomotto')
x

['Banana', 'Tomotto', 'Apple', 'Tomotto', 'Cherry', 'Orange', 'Mango']

In [33]:
x.remove('Tomotto')
x

['Banana', 'Apple', 'Tomotto', 'Cherry', 'Orange', 'Mango']

In [34]:
x.remove('Tomotto')
x

['Banana', 'Apple', 'Cherry', 'Orange', 'Mango']

In [35]:
x.remove('Orange')
x

['Banana', 'Apple', 'Cherry', 'Mango']

In [36]:
x.remove('Mango')
x

['Banana', 'Apple', 'Cherry']

In [38]:
x.insert(4,'Tomotto')
x

['Banana', 'Apple', 'Cherry', 'Tomotto']

In [47]:
#list =["apple", "banana", "cherry"]
#list

list=["Banana","Apple","Cherry"]
list.pop()

'Cherry'

In [52]:
thislist=["apple","banana","cherry"]

del thislist[0]

In [53]:
thislist

['banana', 'cherry']

In [60]:
thislist=["apple","banana","cherry"]

del thislist[-0]
thislist

['banana', 'cherry']

In [61]:
thislist

['banana', 'cherry']

In [64]:
#Copy a List
thislist=["apple","banana","cherry"]
mylist=thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [65]:
thislist

['apple', 'banana', 'cherry']

In [66]:
mylist

['apple', 'banana', 'cherry']

In [78]:
#list1=["a","b" ,"c"]
#list2=[1, 2, 3]
#list3=list1+list2

l1=["a","b","c"]
#l2=["1","2","3"]
l2=[1,2,3]
l3=l1+l2
l3

['a', 'b', 'c', 1, 2, 3]

In [82]:
thistuple=("apple","banana","cherry")
print(thistuple)
thistuple

('apple', 'banana', 'cherry')

('apple', 'banana', 'cherry')

In [84]:
thistuple=("apple","banana","cherry")
print(thistuple[0])
print(thistuple[1])
print(thistuple[2])

apple
banana
cherry